<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{user.name}} {{user.lastname}}</title>
</head>
<body>
  <div>
    <h1>Пользователь: {{user.name}} {{user.lastname}}</h1>
      {% if user.status == 'normal' %}
        <h2>Любимые фильмы:</h2>
          <ul id="movies">
            {% for item in movies %}
              <li>{{item.name}}</li>
            {% endfor %}
          </ul>
        <h2>Любимая музыка:</h2>
          <ul id="music">
            {% for item in music %}
              <li>{{item.name}}</li>
            {% endfor %}
          </ul>
      {% else %}
        <h2> Пользователь {{user.status}}</h2>
      {% endif %}
  </div>
</body>
</html>
